.DS_Store
.dart_tool/

.packages
.pub/

build/*

.flutter-plugins

!build/app/

build/app/*

!build/app/outputs/

build/app/outputs/*

!build/app/outputs/apk/

build/app/outputs/apk/*

!build/app/outputs/apk/release/


