name: firebaseapp
description: A new Flutter application.

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  pull_to_refresh: ^1.1.6
  cached_network_image: ^2.0.0
  flutter_launcher_icons: ^0.7.2
  line_icons: ^0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  firebase_database: ^3.1.3
  firebase_core: ^0.4.4+3
  firebase_auth: ^0.15.5+2
  google_sign_in: ^3.2.4
  intl:
  flare_flutter: 
  transparent_image:
  time_machine: ^0.9.8
  flutter_slidable: ^0.4.9
  mongo_dart: ^0.3.4
  flutter_secure_storage: ^3.2.1+1
  flushbar: ^1.8.2
  firebase_messaging: ^6.0.12
  flutter_twitter_login: ^1.1.0


flutter_icons:
  ios: true
  android: true
  image_path_ios: "asset/ic_launcher.png"
  image_path_android: "asset/ic_launcher.png"


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
  - linear.flr
  - asset/mainlogo.png
  - asset/logo.png
  - asset/ic_launcher.png

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages

module:
  androidX: true 

